body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;

    background-color: darkorange;
    font-size: large;
}

form {
    background-color: darkorchid;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em;

    input, button {
        background-color: darkorange;
        border-radius: 1em;
        color: darkblue;
    }
}