.Card {
  border: 0.1em darkblue solid;
  padding: 1em;
  border-radius: 1em;
  margin: 0.5em;
  text-decoration: none;
  color: darkblue;
  background-color: lightcyan;

  h4{
    padding: 0.25em;
  }

  img {
    width: 15vw;
    height: 15vh;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1em;
    border-radius: 1em;
  }
}

.Card:hover {
  color: whitesmoke;
  background-color: darkcyan;
}

.description {
  width: 15vw;
}
