article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;

  .title {
    padding: 1em;
  }

  p {
    width: 75vw;
  }

  .divRaces {
    width: 30vw;
    background-image: url("../assets/effect.png");
    background-size: cover;
    background-position: top;
    background-color: #21212c;
    border-radius: 1em;
    border: antiquewhite 0.75em solid;
    margin: 1em;
    text-align: center;
  box-shadow: #21212c 1.2em 1.2em 1.6em;

    p {
      width: auto;
      text-shadow: -1px 0 #15151fff, 0 1px #15151fff, 1px 0 #15151fff, 0 -1px #15151fff;
    }
  }
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
   
  select {
    border: antiquewhite 0.25em solid;
    background-color: #21212c;
    border-radius: 1em;
    color: antiquewhite;
  }
}

.CardDriver {
  width: 15vw;
  height: 15vw;
  margin: 1em;
  border: antiquewhite 0.75em solid;
  border-radius: 2em;
  box-shadow: #21212c 1.2em 1.2em 1.6em;
}

.BlockOne {
  width: 100%;
  background-image: url("../assets/effect.png");
  background-size: cover;
  background-position: top;
  background-color: #21212c;
  border-radius: 1em 1em 0 0;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;

  h1 {
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: -3px 0 #15151fff, 0 1px #15151fff, 1px 0 #15151fff, 0 -1px #15151fff;
  }

  img {
    width: 8em;
  }
}

.BlockTwo {
  color: #15151fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: auto;
  height: auto;

  h4,
  h3 {
    margin: 0%;
    padding: 0;
  }
}