#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input, select, textarea {
  font: inherit;
  margin: 1em;
  text-align: center;
  border-radius: 20em;
  background-color:lightgreen;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, lightgreen, lightseagreen);
  border-radius: 1em;
}

input[type=radio]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, lightgreen, lightseagreen);
  border-radius: 1em;
}

textarea {
  font: inherit;
  margin: 1em;
  text-align: center;
  border-radius: 1em;
  background-color:lightgreen;
  border: none;
}

.ImagemSecreta{
  border-radius: 5em;
}

form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50vw;
  min-width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 0 auto;
  background-color: rgb(135, 206, 250, 0.5);
}

.all{
  padding: 0.5em;
  border-radius: 1rem;
}

.all.true{
  background-color: rgba(172, 25, 155, 0.75);
}

.all.false{
  background-color: rgb(32, 178, 170, 0.75);
}

.rocambole{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.progress-bar {
  width: 95%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 2em;
  overflow: hidden;
  position: relative;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, pink, violet);
  border-radius: 5px;
  transition: width 0.5s ease;
}

.heart {
  width: 50px;
  height: 50px;
  background: pink;
  position: relative;
  margin: 20px auto;
  transform: rotate(-45deg);
  animation: heartbeat 0.6s infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 50px;
  height: 50px;
  background: inherit;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -25px;
  left: 0;
}

.heart::after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  25% {
    transform: scale(1.2) rotate(-45deg);
  }
  50% {
    transform: scale(1) rotate(-45deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
