.carousel.slide {
    text-align: center;
    width: 100%;
  
    .carousel-indicators {
      margin-top: 5vh;
      .active {
        background-color: orangered;
      }
      button {
        background-color: darkslategrey;
      }
    }

    img, iframe {
        width: 100%;
        height: 77.5vh;
        object-fit: cover;
        object-position: center;
    }
  
    .carousel-control-next, .carousel-control-prev {
      background-color: darkslategrey;
      border-radius: 2em;
      width: 2.5vw;
      height: 5vh;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .Main{
    color: darkblue;
    background-color: aliceblue;
    article{
        padding: 1.5vw;
        text-align: center;
    }

    p{
      text-align: justify;
    }
  }

  .Maindark{
    color: aliceblue;
    background-color: darkblue;
    article{
        padding: 1.5vw;
        text-align: center;
    }

    p{
      text-align: justify;
    }
  }